*.DS_Store
.Spotlight-V100
.Trashes
[Tt]humbs.db
 
/Temp/
/Obj/
/UnityGenerated/
/Library/
/Build*/
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pdb
*.mdb
 
_ReSharper*
/Assets/UnityVS*
/.vscode
/Assets/VSCode*