TouchScript/*
!TouchScript/Examples.meta
!TouchScript/Examples
TouchScript/Examples/General*
TouchScript/Examples/_misc*

!TouchScript/Plugins.meta
!TouchScript/Plugins
TouchScript/Plugins/*
!TouchScript/Plugins/TouchScript.TUIO.dll.meta
!TouchScript/Plugins/TUIOSharp.dll.meta
!TouchScript/Plugins/OSCSharp.dll.meta

!TouchScript/Editor.meta
!TouchScript/Editor
TouchScript/Editor/*
