TouchScript/*
!TouchScript/Examples.meta
!TouchScript/Examples
TouchScript/Examples/General*
TouchScript/Examples/_misc*
!TouchScript/Examples/Playmaker*
!TouchScript/Examples/Playmaker/*
!TouchScript/Modules*
!TouchScript/Modules/*

# Playmaker
Gizmos*
iTween*
Photon*