Scaleform Key*

TouchScript/*
!TouchScript/Examples*
TouchScript/Examples/General*
TouchScript/Examples/_misc*

!TouchScript/Editor*
TouchScript/Editor/*
!TouchScript/Editor/*.cs
!TouchScript/Editor/*.cs.meta

!TouchScript/Modules*
!TouchScript/Modules/*