TouchScript/*
!TouchScript/Examples.meta
!TouchScript/Examples
TouchScript/Examples/Examples.unity*
TouchScript/Examples/General*
TouchScript/Examples/_misc*

!TouchScript/Plugins.meta
!TouchScript/Plugins
TouchScript/Plugins/*
!TouchScript/Plugins/TouchScript.Windows.dll.meta

!TouchScript/Editor.meta
!TouchScript/Editor
TouchScript/Editor/*
