TouchScript/*
!TouchScript/Examples.meta
!TouchScript/Examples
TouchScript/Examples/General
TouchScript/Examples/General/*
TouchScript/Examples/General.meta

!TouchScript/Plugins.meta
!TouchScript/Plugins
TouchScript/Plugins/*
!TouchScript/Plugins/TouchScript.WindowsPhone.dll.meta
!TouchScript/Plugins/WP8.meta
!TouchScript/Plugins/WP8
TouchScript/Plugins/WP8/*
!TouchScript/Plugins/WP8/TouchScript.WindowsPhone.dll.meta