#Unity3d

*.sln
*.csproj
*.userprefs
*.unityproj
/Library/
/Temp/
/Build/
*.exe
*.pidb

Assets/TouchScript/Plugins/*.bat
Assets/TouchScript/Plugins/*.bat.meta
Assets/TouchScript/Plugins/*.pdb.meta
Assets/TouchScript/Plugins/*.mdb.meta
Assets/TouchScript/Plugins/*.xml
Assets/TouchScript/Plugins/*.xml.meta
Assets/TouchScript/Editor/*.pdb.meta
Assets/TouchScript/Editor/*.mdb.meta
Library